@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-amber-50 text-gray-800;
  }
}

@media print {
  .no-print {
    display: none !important;
  }
  .print-break {
    page-break-before: always;
  }
  body {
    background: white;
    font-size: 12px;
  }
}
